BOT_TOKEN=
PUBLIC_CLIENT_URL=https://farikstest.up.railway.app
PUBLIC_API_URL=https://farikstest.up.railway.app
ADMIN_TELEGRAM_ID=7903688837
ADMIN_TOKEN=change-me
APP_SECRET=change-this-long-random-secret
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB=fariks_lms
